body{background: #FBCC7E;}
.water_box{position: relative;color:#FFF7EA;}
.water_box div{width:360px;}
.water_box div:hover{
	border: 2px solid #FCDEAD;
	border-radius: 4px;
}
.water_box2 div{width:360px;}
.water_box img{width:360px;}